In [1]:
d = {'key1':'value','key2':123}

In [2]:
d['key1']

'value'

In [3]:
d['key2']

123

In [4]:
d = {'k1':[1,2,3]}

In [6]:
d['k1'][0]

1

In [7]:
d['k1'][0]

1

In [8]:
d = {'k1':{'innerkey':[1,2,3]}}

In [9]:
d['k1']['innerkey'][2]

3

In [10]:
True

True

In [11]:
False

False

In [12]:
my_list = [1,2,3]

In [13]:
my_list[0]

1

In [14]:
# Tuples

In [15]:
t = (1,2,3)

In [16]:
t[0]

1

In [17]:
my_list = [1,2,3]

In [18]:
my_list[0] = 'NEW'

In [19]:
my_list

['NEW', 2, 3]

In [20]:
t

(1, 2, 3)

In [21]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [22]:
{1,2,3}

{1, 2, 3}

In [23]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [24]:
# Set is only unique elements

In [25]:
set([1,1,1,1,1,1,1,1,1,2])

{1, 2}

In [26]:
s = {1,2,3}

In [27]:
s.add(5)

In [28]:
s

{1, 2, 3, 5}

In [29]:
s.add(5)

In [30]:
s

{1, 2, 3, 5}

In [31]:
1 > 2

False

In [32]:
1 < 2

True

In [33]:
1 >= 2

False

In [34]:
1 == 1

True

In [35]:
1 == 2

False

In [36]:
1 != 3

True

In [37]:
1 != 1

False

In [39]:
'hi' == 'hi'

True

In [40]:
1 < 2

True

In [41]:
2>3

False

In [42]:
1 <2 and 2 < 3

True

In [43]:
1 < 2 and 2 > 3

False

In [44]:
1 < or 3 > 2

SyntaxError: invalid syntax (<ipython-input-44-decbef346010>, line 1)

In [46]:
(1 < 2) or (2 > 3) or (1 == 1)

True

True and True

In [47]:
True and True

True

In [48]:
True or False

True

In [49]:
if 1 < 2:
    
    print('yep!')

yep!

In [50]:
if True:
    print('perform code')

perform code

In [51]:
if True:
    print('this is true')

this is true

In [53]:
if 1 == 2:
    
    print('First')

elif 3 == 3:
    
    print('Middle')
    
else:
    
    print('last')

Middle

In [1]:
seq = [1,2,3,4,5]

In [3]:
for item in seq:
    print(item)

1
2
3
4
5

In [5]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [6]:
for x in seq:
    print(x)

1
2
3
4
5

In [7]:
range(1:5)

SyntaxError: invalid syntax (<ipython-input-7-9181fd6409e6>, line 1)

In [8]:
range(1)

range(0, 1)

In [9]:
range(0,5)

range(0, 5)

In [10]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [12]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
x = [1,2,3,4]

In [4]:
out = []

In [5]:
for num in x:
    out.append(num**2)

In [6]:
print(out)

[1, 4, 9, 16]

In [7]:
# List Comprehension

In [8]:
out = [num**2 for num in x]

In [9]:
print(out)

[1, 4, 9, 16]

In [10]:
def my_func(param1):
    print(param1)

In [11]:
my_func('hello')

hello

In [12]:
def my_fun2(name):
    print('Hello '+name)

In [13]:
my_fun2('Geroge')

Hello Geroge

In [14]:
# You can initially set a default name that will occur if there is no input

In [15]:
# Need parenthesis to call the function - if not it will just call the object of the function

In [16]:
def square(num):
    return num**2

In [17]:
square(2)

4

In [18]:
output = square(2)

In [19]:
output

4

In [20]:
# Return will set something equal to something else - print just gives the name

In [21]:
"""
doc string
"""

'\ndoc string\n'

In [22]:
def times2(var):
    return var * 2

In [23]:
times2(5)

10

In [24]:
# map()

In [25]:
seq = [1,2,3,4,5]

In [26]:
map(times2, seq)

In [27]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [29]:
def times2(var):return var*2

In [31]:
t = lambda var:var*2

In [32]:
t(6)

12

In [34]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [35]:
list(filter(lambda num: num == 1, seq))

[1]

In [36]:
s = 'hello my name is Sam'

In [37]:
s.lower

In [38]:
s.lower()

'hello my name is sam'

In [39]:
s.upper()

'HELLO MY NAME IS SAM'

In [40]:
s.lower()

'hello my name is sam'

In [41]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [42]:
tweet = 'Go Sports! #Sports'

In [45]:
tweet.split('#')[1]

'Sports'

In [46]:
d = {'k1': 1, 'k2' : 2}

In [47]:
D

NameError: name 'D' is not defined

In [48]:
d

{'k1': 1, 'k2': 2}

In [49]:
d.keys()

dict_keys(['k1', 'k2'])

In [50]:
d,items

NameError: name 'items' is not defined

In [51]:
d.items

In [52]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [53]:
d.values()

dict_values([1, 2])

In [54]:
lst = [1,2,3]

In [55]:
lst.pop()

3

In [56]:
lst

[1, 2]

In [57]:
item = lst.pop()

In [58]:
item

2

In [59]:
lst

[1]

In [60]:
lst = [1,2,3,4,5]

In [61]:
lst.pop(0)

1

In [62]:
lst

[2, 3, 4, 5]

In [63]:
'x' in [1,2,3]

False

In [64]:
'x' in ['x', 'y', 'z']

True

In [65]:
x = [(1,2),(3,4),(5,6)]

In [70]:
for a,b in x:
    print(b)

2
4
6