### Import Libraries

In [2]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

### Read in Dataset

In [3]:
df = pd.read_csv('fbdh1.csv')

In [4]:
df.head()

    Flow      D1      D2      P1     P2    dD1    dD2    dP1   dP2
0 -16.69   99.49 -145.71   48.04 -15.90  81.17  12.26  36.71  2.21
1 -16.23  172.78 -118.66   79.84 -11.94  80.09  18.49  35.48  2.91
2 -15.54  242.66  -81.28  109.77  -7.75  75.74  24.65  33.03  3.26
3 -15.17  316.42  -55.50  140.84  -5.30  74.07  28.43  31.89  3.37
4 -14.51  392.40  -31.67  171.92  -1.24  73.96  29.70  31.32  3.68

In [5]:
def label_fix(label):
    if label < -7.5:
        return 0
    elif label > 7.5:
        return 1
    else:
        return 2

df['Class'] = df['Flow'].apply(label_fix)

In [6]:
df.head()

    Flow      D1      D2      P1     P2    dD1    dD2    dP1   dP2  Class
0 -16.69   99.49 -145.71   48.04 -15.90  81.17  12.26  36.71  2.21      0
1 -16.23  172.78 -118.66   79.84 -11.94  80.09  18.49  35.48  2.91      0
2 -15.54  242.66  -81.28  109.77  -7.75  75.74  24.65  33.03  3.26      0
3 -15.17  316.42  -55.50  140.84  -5.30  74.07  28.43  31.89  3.37      0
4 -14.51  392.40  -31.67  171.92  -1.24  73.96  29.70  31.32  3.68      0

In [7]:
# Create Function to Gather Data into Overlapping Windows
# Cuts data into size compatible with window length and step size
# Gathers data into results output
# Takes the mode of the classes for each window and saves in classes output

def windowData(df, windowSize, stepSize):
    
    df.reset_index(drop = True, inplace = True)
    new_data = df
    
    for i in range(len(new_data) - windowSize, len(new_data)):
        
        if (i - windowSize) % stepSize  == 0:
            new_data = df.truncate(after = i - 1)
    
    windf = new_data
    
    length = len(windf['D1'])
    
    results = np.zeros([int((length - windowSize) / stepSize), windowSize, 8])
    classes = np.zeros([int((length - windowSize) / stepSize), 1])
    
    for j in range(0, results.shape[0]):
        
        classData = np.zeros([windowSize, 1])
        
        for i in range(0, windowSize):
            
            results[j][i] = [windf['D1'][i + (j * stepSize)], 
                                 windf['D2'][i + (j * stepSize)], 
                                 windf['P1'][i + (j * stepSize)], 
                                 windf['P2'][i + (j * stepSize)], 
                                 windf['dD1'][i + (j * stepSize)], 
                                 windf['dD2'][i + (j * stepSize)], 
                                 windf['dP1'][i + (j * stepSize)], 
                                 windf['dP2'][i + (j * stepSize)]]
            
            classData[i] = windf['Class'][i + (j * stepSize)]
            
        classes[j] = int(stats.mode(classData)[0])
        
    return results, classes

### Create Feature Matrix / Gather Training and Testing Data

In [24]:
df.head()

    Flow      D1      D2      P1     P2    dD1    dD2    dP1   dP2  Class
0 -16.69   99.49 -145.71   48.04 -15.90  81.17  12.26  36.71  2.21      0
1 -16.23  172.78 -118.66   79.84 -11.94  80.09  18.49  35.48  2.91      0
2 -15.54  242.66  -81.28  109.77  -7.75  75.74  24.65  33.03  3.26      0
3 -15.17  316.42  -55.50  140.84  -5.30  74.07  28.43  31.89  3.37      0
4 -14.51  392.40  -31.67  171.92  -1.24  73.96  29.70  31.32  3.68      0

In [26]:
scaleData = df.drop('Flow', axis = 1)
scaleData.drop('Class', axis = 1, inplace = True)

scaler = StandardScaler()
scaler.fit(scaleData)
scaled_features = scaler.transform(scaleData)

X = pd.DataFrame(scaled_features, columns = df.columns[1:9])
X['Class'] = df['Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [51]:
trainX, trainY = windowData(X_train, 5, 1)
testX, testY = windowData(X_test, 5, 1)

In [52]:
trainX.shape

(4658, 5, 8)

In [53]:
trainY.shape

(4658, 1)

In [54]:
trainY

array([[0.],
       [1.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

### Develop LSTM Model

In [55]:
time_steps = trainX.shape[1]
features = trainX.shape[2]

LSTM = keras.Sequential()
LSTM.add(keras.layers.LSTM(175, input_shape = (time_steps, features)))
LSTM.add(keras.layers.Dropout(0.3))
LSTM.add(keras.layers.Dense(50, activation = tf.nn.relu))
LSTM.add(keras.layers.Dropout(0.4))
LSTM.add(keras.layers.Dense(3, activation = tf.nn.softmax))
LSTM.compile(loss = 'sparse_categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

LSTM.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 175)               128800
_________________________________________________________________
dropout_6 (Dropout)          (None, 175)               0
_________________________________________________________________
dense_6 (Dense)              (None, 50)                8800
_________________________________________________________________
dropout_7 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_7 (Dense)              (None, 3)                 153
=================================================================
Total params: 137,753
Trainable params: 137,753
Non-trainable params: 0
_________________________________________________________________

In [56]:
LSTM.fit(trainX, trainY, epochs = 50)

Epoch 1/50
4658/4658 [==============================] - 1s 279us/sample - loss: 0.6040 - acc: 0.7759
Epoch 2/50
4658/4658 [==============================] - 1s 184us/sample - loss: 0.5033 - acc: 0.8064
Epoch 3/50
4658/4658 [==============================] - 1s 180us/sample - loss: 0.4835 - acc: 0.8094
Epoch 4/50
4658/4658 [==============================] - 1s 181us/sample - loss: 0.4697 - acc: 0.8122
Epoch 5/50
4658/4658 [==============================] - 1s 183us/sample - loss: 0.4512 - acc: 0.8186
Epoch 6/50
4658/4658 [==============================] - 1s 185us/sample - loss: 0.4371 - acc: 0.8214
Epoch 7/50
4658/4658 [==============================] - 1s 187us/sample - loss: 0.4237 - acc: 0.8261
Epoch 8/50
4658/4658 [==============================] - 1s 192us/sample - loss: 0.4111 - acc: 0.8338
Epoch 9/50
4658/4658 [==============================] - 1s 185us/sample - loss: 0.4060 - acc: 0.8364
Epoch 10/50
4658/4658 [==============================] - 1s 187us/sample - loss: 0.3917 - acc: 0.8396
Epoch 11/50
4658/4658 [==============================] - 1s 186us/sample - loss: 0.3792 - acc: 0.8439
Epoch 12/50
4658/4658 [==============================] - 1s 180us/sample - loss: 0.3703 - acc: 0.8429
Epoch 13/50
4658/4658 [==============================] - 1s 185us/sample - loss: 0.3658 - acc: 0.8493
Epoch 14/50
4658/4658 [==============================] - 1s 194us/sample - loss: 0.3575 - acc: 0.8536
Epoch 15/50
4658/4658 [==============================] - 1s 189us/sample - loss: 0.3459 - acc: 0.8579
Epoch 16/50
4658/4658 [==============================] - 1s 199us/sample - loss: 0.3361 - acc: 0.8620
Epoch 17/50
4658/4658 [==============================] - 1s 201us/sample - loss: 0.3254 - acc: 0.8641
Epoch 18/50
4658/4658 [==============================] - 1s 195us/sample - loss: 0.3157 - acc: 0.8697
Epoch 19/50
4658/4658 [==============================] - 1s 195us/sample - loss: 0.3049 - acc: 0.8684
Epoch 20/50
4658/4658 [==============================] - 1s 193us/sample - loss: 0.3008 - acc: 0.8729
Epoch 21/50
4658/4658 [==============================] - 1s 186us/sample - loss: 0.2864 - acc: 0.8843
Epoch 22/50
4658/4658 [==============================] - 1s 191us/sample - loss: 0.2730 - acc: 0.8877
Epoch 23/50
4658/4658 [==============================] - 1s 190us/sample - loss: 0.2641 - acc: 0.8937
Epoch 24/50
4658/4658 [==============================] - 1s 189us/sample - loss: 0.2545 - acc: 0.8963
Epoch 25/50
4658/4658 [==============================] - 1s 194us/sample - loss: 0.2432 - acc: 0.9047
Epoch 26/50
4658/4658 [==============================] - 1s 191us/sample - loss: 0.2276 - acc: 0.9075
Epoch 27/50
4658/4658 [==============================] - 1s 189us/sample - loss: 0.2135 - acc: 0.9105
Epoch 28/50
4658/4658 [==============================] - 1s 188us/sample - loss: 0.2084 - acc: 0.9143
Epoch 29/50
4658/4658 [==============================] - 1s 190us/sample - loss: 0.1885 - acc: 0.9180
Epoch 30/50
4658/4658 [==============================] - 1s 187us/sample - loss: 0.1756 - acc: 0.9277
Epoch 31/50
4658/4658 [==============================] - 1s 189us/sample - loss: 0.1671 - acc: 0.9341
Epoch 32/50
4658/4658 [==============================] - 1s 195us/sample - loss: 0.1511 - acc: 0.9386
Epoch 33/50
4658/4658 [==============================] - 1s 194us/sample - loss: 0.1422 - acc: 0.9416
Epoch 34/50
4658/4658 [==============================] - 1s 193us/sample - loss: 0.1314 - acc: 0.9478
Epoch 35/50
4658/4658 [==============================] - 1s 187us/sample - loss: 0.1283 - acc: 0.9495
Epoch 36/50
4658/4658 [==============================] - 1s 190us/sample - loss: 0.1182 - acc: 0.9532
Epoch 37/50
4658/4658 [==============================] - 1s 189us/sample - loss: 0.1134 - acc: 0.9534
Epoch 38/50
4658/4658 [==============================] - 1s 193us/sample - loss: 0.1024 - acc: 0.9603
Epoch 39/50
4658/4658 [==============================] - 1s 192us/sample - loss: 0.0895 - acc: 0.9644
Epoch 40/50
4658/4658 [==============================] - 1s 197us/sample - loss: 0.0798 - acc: 0.9693
Epoch 41/50
4658/4658 [==============================] - 1s 205us/sample - loss: 0.0880 - acc: 0.9667
Epoch 42/50
4658/4658 [==============================] - 1s 205us/sample - loss: 0.0777 - acc: 0.9684
Epoch 43/50
4658/4658 [==============================] - 1s 203us/sample - loss: 0.0708 - acc: 0.9710
Epoch 44/50
4658/4658 [==============================] - 1s 202us/sample - loss: 0.0613 - acc: 0.9783
Epoch 45/50
4658/4658 [==============================] - 1s 197us/sample - loss: 0.0527 - acc: 0.9807
Epoch 46/50
4658/4658 [==============================] - 1s 196us/sample - loss: 0.0567 - acc: 0.9785
Epoch 47/50
4658/4658 [==============================] - 1s 204us/sample - loss: 0.0539 - acc: 0.9800
Epoch 48/50
4658/4658 [==============================] - 1s 193us/sample - loss: 0.0590 - acc: 0.9811
Epoch 49/50
4658/4658 [==============================] - 1s 189us/sample - loss: 0.0418 - acc: 0.9845
Epoch 50/50
4658/4658 [==============================] - 1s 192us/sample - loss: 0.0434 - acc: 0.9839

### Evaluate Model on Testing Split

In [57]:
testX.shape

(1994, 5, 8)

In [58]:
testY.shape

(1994, 1)

In [59]:
predictions = LSTM.predict(testX)

In [61]:
final_pred = []
for score in range(0, len(predictions)):
    final_pred.append(np.argmax(predictions[score]))
    
print(classification_report(testY, final_pred))

              precision    recall  f1-score   support

         0.0       0.86      0.85      0.85      1129
         1.0       0.78      0.83      0.81       768
         2.0       0.29      0.15      0.20        97

   micro avg       0.81      0.81      0.81      1994
   macro avg       0.64      0.61      0.62      1994
weighted avg       0.80      0.81      0.80      1994

### Test on New Dataset

In [19]:
# Read in dataframe
test = pd.read_csv('test_data_2.csv')
test['Class'] = test['Flow'].apply(label_fix)

# Create the Feature Matrix and Scale Features
X_1 = test.drop('Class', axis = 1)
X_1.drop('Flow', axis = 1, inplace = True)

scaler = StandardScaler()
scaler.fit(X_1)
scaled_features = scaler.transform(X_1)
X_1 = pd.DataFrame(scaled_features, columns = X_1.columns[:])

# Create the classification matrix
y_1 = test['Class']

X_LSTM = X_1.values.reshape(5019, 1, 8)

In [20]:
test_predictions = LSTM.predict(X_LSTM)

final_pred_test = []
for score in range(0, len(test_predictions)):
    final_pred_test.append(np.argmax(test_predictions[score]))
    
print(classification_report(y_1, final_pred_test))

              precision    recall  f1-score   support

           0       0.87      0.90      0.88      2145
           1       0.87      0.89      0.88      2074
           2       0.73      0.64      0.68       800

   micro avg       0.85      0.85      0.85      5019
   macro avg       0.82      0.81      0.81      5019
weighted avg       0.85      0.85      0.85      5019